[submodule "ticket-masala"]
	path = ticket-masala
	url = git@github.com:Garamatic/ticket-masala.git
[submodule "mailing-service"]
	path = mailing-service
	url = git@github.com:Garamatic/mailing-service.git
[submodule "garamatic-web"]
	path = garamatic-web
	url = git@github.com:Garamatic/garamatic-web.git
[submodule "masala-web"]
	path = masala-web
	url = git@github.com:Garamatic/masala-web.git
[submodule "agentic-service"]
	path = agentic-service
	url = git@github.com:Garamatic/agentic-service.git
[submodule "odoo-integration"]
	path = odoo-integration
	url = git@github.com:Garamatic/odoo-integration.git
[submodule "integration-contracts"]
	path = integration-contracts
	url = git@github.com:Garamatic/integration-contracts.git
